@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-react-schedule/styles/material.css';

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
}

.buttonWrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

input {
  background: #fff;
  outline: none;
  color: black;
  padding: 10px 15px;
  border: 1px solid #232323;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 300;
}

input:focus {
  outline: none;
}

.loginForm {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.nameInput-wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.formError {
  color: #c20000;
  font-size: 12px;
  font-weight: 300;
  text-align: start;
  margin: 0;
  margin-top: 2px;
}

.submitButton {
  margin-top: 25px;
  padding: 10px;
  background: #8e8e8e;
  color: black;
  font-size: 20px;
  font-weight: 400;
  border-radius: 6px;
  border: none;
  transition: 0.3s ease;
  cursor: pointer;
}

.submitButton:hover {
  background: #636363;
}

.buttonsWrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.buttonsWrapper a {
  padding: 10px 15px;
  background: #ffffff;
  cursor: pointer;
  color: #232323;

  margin-top: 25px;
  padding: 10px;
  background: #ffffff;
  color: black;
  font-size: 20px;
  font-weight: 400;
  border-radius: 6px;
  border: none;
  transition: 0.3s ease;
  cursor: pointer;
}

.buttonsWrapper a:hover {
  background: #d6d6d6;
}

.menuButtonsWrapper {
  position: fixed;
  bottom: 5px;
  left: 5px;
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 9999999999;
  padding: 5px;
  background-color: #232323;
}

.logoutButton,
.homeButton {
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px;
  padding: 10px 15px;
  background: #f41414;
  cursor: pointer;
  border: none;
  display: block;
  line-height: 16px;
  color: #fff;
  font-weight: 400;
  transition: all 0.2s ease;
}

.logoutButton:hover {
  background: #d60c0c;
}

.homeButton {
  background-color: #fff;
  color: #232323;
}
.homeButton:hover {
  background-color: #d9d9d9;
  color: #232323;
}

/* ========= Create USER ========= */
.createUserForm {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

.createUserForm div {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;
}

.createUserForm div input {
  box-sizing: border-box;
  width: 100%;
  display: block;
}

.createUserButton {
  width: 100%;
  padding: 10px;
  background: rgb(203, 203, 203);

  color: black;
  font-size: 20px;
  font-weight: 400;
  border-radius: 6px;
  border: none;
  transition: 0.3s ease;
  cursor: pointer;
  border: 2px solid transparent;
}

.createUserButton:hover {
  box-shadow: 0px 4px 10px 0px rgba(255, 255, 255, 0.775);
  border-color: #fff;
}

.tableDisabled .e-cell-popup {
  display: none !important;
}

.tableDisabled [aria-label='New Event'] {
  box-shadow: none !important;
  border: none !important;
}

.tableDisabled .e-header-icon-wrapper {
  opacity: 0 !important;
  pointer-events: none;
}
